<link href="../../bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../custom-css/descModal.css" rel="stylesheet">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63748303-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="modal-dialog">
    
    <div class="modal-body">
        <div class="paper">
            <div class="head">
                <h2>OASIS</h2>
                <p>RIT</p>
            </div>
            <p><div><span class="left-text" >President</span><span class="right-text">September 2012 - May 2014</span></div>
                <div class="content">OASIS is a non-profit cultural organization which stands for Organization for the Alliance of Students from the Indian Subcontinent. As an organization, we realize that our strength is not in division by nationality, but by bringing about unity in diversity. The countries represented are India, Bangladesh, Pakistan, Nepal, Bhutan, Maldives, and Sri Lanka.
                <br/>December 2013 - May 2014: Chairman
                <br/>May 2013 - December 2013: President
                <br/>October 2012 - May 2013: Director of Programming
            <br/>
            <br/>
            Responsibilities/Achievements included:
            <ul>
                <li>Represent 600+ students on campus</li>
                <li>Directed various sold out events</li>
                <li>Improved smooth organization and flow of events</li>
                <li>1st place at Global Unification</li>
                <li>Planned the largest Dandiya Event to date</li>
                <li>Initiated the first Desi Social that had a record breaking amount of RIT students attending an OASIS event</li>
                <li>Developed events to incorporate the 7 different countries OASIS represents</li>
            </ul>
            <div></p>
        </div>
    </div>    
</div>