<link href="../../bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../custom-css/descModal.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet" type="text/css">

<div class="modal-dialog">
    
    <div class="modal-body">
        <div class="paper">
            <div class="head">
                <h2>Intuit</h2>
                <p>San Diego, CA</p>
            </div>
            <p><div><span class="left-text" >Software Engineering Co-op</span><span class="right-text">January 2014 - July 2014</span></div>
                <div class="content">Member of the ACA Team (TurboTax Health) that educated users on the Affordable Care Act to lead them to a decision of a healthcare plan. I worked on this team as a full stack engineer doing front-end and back-end development. Also, I served as a developer on the Social Team, where my team and I implemented our winning Codechella (hack-a-thon) solution.
            <br/>
            <br/>
            Responsibilities included:
            <ul>
                <li> Front-end and Back-end Engineering</li>
                <li> Creating a mobile responsive web app using Javascript, HTML5, CSS3, JQuery, and Java</li>
                <li> Integration and creation social media APIs</li>
                <li> Creating a platform for REST API integration using JAX-RS</li>
                <li> Creating an architecture for both front-end and back-end code/technology organization</li>
                <li> Increasing code stability with unit tests (Jasmine)</li>
                <li> Implementing a variety of features to increase user experience and conversion rate</li>
                <li> Setting up tracking calls for Omniture and Google Analytics</li>
                <li> Presenting to VPs and Directors</li>
                <li> https://turbotax.com/health-care</li>
            </ul>
            <div></p>
        </div>
    </div>    
</div>