<link href="../../bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../custom-css/descModal.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet" type="text/css">

<div class="modal-dialog">
    
    <div class="modal-body">
        <div class="paper">
            <div class="head">
                <h2>Stryker</h2>
                <p>Kalamazoo, MI</p>
            </div>
            <p><div><span class="left-text" >Computer/Software Engineering Intern</span><span class="right-text">May 2015 - Present</span></div>
                <div class="content"> <br/><b style="text-align:center;">COMING SOON!</b><div></p>
        </div>
    </div>    
</div>