<link href="../../bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../custom-css/descModal.css" rel="stylesheet">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63748303-1', 'auto');
  ga('send', 'pageview');

</script>
<body>
<div class="modal-dialog background">
    
    <div class="modal-body">
        <div>
            <div class="center heading">
                <h2>Computer Engineering Department</h2>
                <p><span class="icon fa-map-marker" style="font-size: 1.5em; padding-right: 5px;"></span>Rochester, NY (RIT)</p>
            </div><br/>
            <p class="center"><span class="center" >Teaching Assistant</span><br/><span class="center">September 2014 - Present</span><span class="icon fa-calendar" style="font-size: 1.5em; padding-left: 5px;"></span></p>
                <div class="content">
                    <p>I have been a teaching assistant for Assembly Language Programming, Digital Systems Design, and Interface Digital Electronics.  These are core classes and introduced a variety of students to essential Computer Engineering skills.  My main tasks included supervising the students during their lab times and being a resource for them inside and outside the lab setting.  I was also responsible for grading their reports and learning the technology they were using.  I receive great satisfaction from teaching, and it has been one of the most memorable activities I have done in college.  I enjoy helping others find their potential and be successful at what they love.</p>
                    <p class="line"></p>
            </div>
            <div class="center"><img src="../../images/work/ce.png" alt="Computer Engineering Department" title="Computer Engineering Department"/></div>
        </div>
    </div>    
</div>
</body>