<link href="../../bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../custom-css/descModal.css" rel="stylesheet">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63748303-1', 'auto');
  ga('send', 'pageview');

</script>
<body>
<div class="modal-dialog background">
    
    <div class="modal-body">
        <div>
            <div class="center heading">
                <h2>National Grid</h2>
                <p><span class="icon fa-map-marker" style="font-size: 1.5em; padding-right: 5px;"></span>Syracuse, NY</p>
            </div><br/>
            <p class="center"><span class="center" >Technical Intern</span><br/><span class="center">May 2013 – August 2013</span><span class="icon fa-calendar" style="font-size: 1.5em; padding-left: 5px;"></span></p>
                <div class="content">
                    <p>National Grid is a large gas and electric utility company in the Northeastern region of the USA and UK.  I was a member of the Meter Data Services Operations team which was responsible for the validation, allocation, and billing of meters for commercial businesses and estates in New York and the New England states. I became well versed in the MV-90 and Itron Enterprise Edition Meter Data Management systems, and wrote several documents outlining solutions to the many downfalls of this system.  These documents and data flow charts reduced database entry time by 80%.  I also worked on meter validation and commissioning meter changes in the field.</p>
                    <p class="line"></p>
            </div>
            <div class="center"><img src="../../images/work/ngrid.png" alt="National Grid" title="National Grid"/></div>
        </div>
    </div>    
</div>
</body>