<link href="../../bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../custom-css/descModal.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet" type="text/css">

<div class="modal-dialog">
    
    <div class="modal-body">
        <div class="paper">
            <div class="head">
                <h2>scrollME</h2>
                <p>Android Development</p>
            </div>
            <p><div><span class="left-text" >Personal Project</span><span class="right-text">Summer 2013</span></div>
                <div class="content">This was an application in the summer after my Freshman year of college. I learned how to program in android and create a mobile application.  The app can be found on the <a href="https://play.google.com/store/apps/details?id=com.BHATT.scrollme">Google Play Store</a>.
                <br/>
                <br/>
                Development:
                <ul>
                    <li> Integrated a multitude of social media sites in one convenient application</li>
                    <li> Reduced the need to switch applications to view social sites</li>
                    <li> Customized user interface with options to maximize user interaction</li>
                    <li> Developed, Published, Localized, and Advertised application on Google Play Store</li>
                </ul>
            <div></p>
        </div>
    </div>    
</div>