<link href="../../bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../custom-css/descModal.css" rel="stylesheet">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63748303-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="modal-dialog">
    
    <div class="modal-body">
        <div class="paper">
            <div class="head">
                <h2>National Grid</h2>
                <p>Syracuse, NY</p>
            </div>
            <p><div><span class="left-text" >Technical Intern</span><span class="right-text">May 2013 - August 2013</span></div>
                <div class="content">Member of the Meter Data Services Operations which was responsible for the validation, allocation, and billing of meters for commercial businesses and estates in New York and the New England states.
            <br/>
            <br/>
            Responsibilities included:
            <ul>
                <li>Working with MV-90 and Itron Enterprise Edition Meter Data Management databases</li>
                <li>Creation of detailed procedures/guidelines to work around database conflicts</li>
                <li>Reduction of database entry time by 80%</li>
                <li>Validation meter readings and debugging validation issues</li>
                <li>Commissioning field changes of meters</li>
                <li>Database administration and maintenance</li>
            </ul><div></p>
        </div>
    </div>    
</div>