<link href="../../bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../custom-css/descModal.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet" type="text/css">

<div class="modal-dialog">
    
    <div class="modal-body">
        <div class="paper">
            <div class="head">
                <h2>Student Government</h2>
                <p>RIT</p>
            </div>
            <p><div><span class="left-text" >KGCOE Senator</span><span class="right-text">June 2015 - Present</span></div>
                <div class="content">Student Government Senator representing students in the Kate Gleason College of Engineering.<div></p>
        </div>
    </div>    
</div>